#avatar {
    display: inline-flex;
    margin-left: 10px;
    margin-right: 10px;

}
#avatar img{
    width: 140px;
    height: 140px;
    border:#337ab7;
    border-style: solid;
    border-width: 6px;
}

.modal-body {
    display: flex
}
label {
    width: 100px;
}

.center {
    margin:auto
}

.modal-wrapper {
    max-width: 430px;
    width: 50%;
    margin: auto;
    margin-top: 75px; 
}

@media screen and (max-width: 800px) {
    .modal-wrapper {
        width: 60%;
    }
}

@media screen and (max-width: 650px) {
    .modal-wrapper {
        width: 70%;
    }
}

@media screen and (max-width: 550px) {
    .modal-wrapper {
        width: 100%;
        padding: 10px;
    }
}
@media screen and (max-width: 420px) {
    .modal-body {
        display: block
    }
    .alertInfo {
        display: block !important;
        width: 100%;

    }
    #avatar {
        display: block !important;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .well {
        padding: 10px;
    }
}
