<div id="AlertModal" class="modal fade " role="dialog">
    <div class="modal-wrapper">
      <div class="modal-content">
        <form>              
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{ alertText }}</h4>
          </div>
          <div class="modal-body">
            <div id='avatar'>
                <img src="{{alertedUser.avatar}}" class="img-rounded">
            </div>
            <div class="center alertInfo">
              <div>
                <label>ID</label>
                <span>{{ alertedUser.id }}</span>
              </div>
              <div>
                <label>First Name</label>
                <span>{{alertedUser.first_name | capitalizeFirstLetters }}</span>
              </div>
              <div>
                <label>Last Name</label>
                <span>{{ alertedUser.last_name | capitalizeFirstLetters}}</span>
              </div>
              <div *ngIf = "alertedUser.createdAt">
                <label>Created At</label>
                <span>{{ alertedUser.createdAt | date }}</span>
              </div>
              <div *ngIf = "alertedUser.updatedAt">
                  <label>Updated At</label>
                  <span>{{ alertedUser.updatedAt | date }}</span>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="goBack()">Go To Users List</button>
          </div>
        </form>  
      </div>
    </div>
  </div>  