<div class="loading-bar">
    <app-loading-bar *ngIf="this.loaderService.loaded"></app-loading-bar>
  </div>
  <div class="edit-User-container">
    <div class="well edit-User-Body">
      <h3>Change User to:</h3>
      <form>
        <div>
          <label>Id: </label>
          <input type="number" class="form-control" placeholder="{{ id }} " disabled/>
        </div>
        <div>
          <label>First Name: </label>
          <input type="text" class="form-control" [(ngModel)]="editedUser.first_name" name="editedUser.first_name" #editFirtsName="ngModel" required/>
          <span *ngIf="editFirtsName.invalid && (editFirtsName.dirty || editFirtsName.touched)" class="error">This field cannot be empty.</span>
        </div>
        <div>
          <label>Last Name: </label>
          <input type="text" class="form-control" [(ngModel)]="editedUser.last_name" name="editedUser.last_name" #editLastsName="ngModel" required/>
          <span *ngIf="editLastsName.invalid && (editLastsName.dirty || editLastsName.touched)" class="error">This field cannot be empty.</span>
        </div>
        <div class="buttons">
          <button type="submit" class="btn btn-primary" [disabled]="editFirtsName.invalid || editLastsName.invalid"  (click)="save()">Save</button>
          <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
        </div>
      </form>
    </div>
    <app-alert [alertedUser] = "editedUser" [alertText] = "alertText"></app-alert>
  </div>