.loading-bar{
    height:5px; 
    width:100%; 
    background-color: #f5f5f5;
}

.edit-User-container {
    background-color: whitesmoke;
    height: 91vh;
    padding-top: 20px;
    padding-bottom: 20px;
}

.edit-User-Body {
    background-color: white;
    max-width: 300px;
    margin: auto;
}

.loading-bar {
    height:5px; width:100%; 
    background-color: #f5f5f5;
}

.buttons {
    text-align: right;
    margin-top:20px
}