<div class="col-md-4 col-md-offset-4 well" style="margin-top: 20px; text-align: center;">
  <span class="error" style="display:block">PAGE NOT FOUND</span>
  <a style="text-align: center; margin-top: 10px; cursor:pointer" routerLink="/login" 
    routerLinkActive="active">Go to Login</a>
</div>