<div class="col-md-4 col-md-offset-4 well top-margin">
  <h2 class="text-center">Login</h2>
  <form name="form" (ngSubmit)="login()">
    <div class="form-group">
      <label>Username</label>
      <div class = "flex">
        <input type="text" class="col-md-4 form-control" [(ngModel)]="username" name="username" appEmailValidation #email="ngModel" required/>
        <div class="no-width">
          <i *ngIf="email.valid" class="valid fa fa-check valid-icon" aria-hidden="true"></i>
        </div>
      </div>
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">Please enter a valid email: xxxx@xxx.xx</div>
    </div>
    <div class="form-group">
      <label>Password</label>
      <div class="flex">
        <input type="password" class="form-control" [(ngModel)]="password" name="password" appPasswordValidation #pass="ngModel" required/>
        <div class="no-width">
          <i *ngIf="pass.valid" class="valid fa fa-check fa-2x valid-icon" aria-hidden="true"></i>
        </div>
      </div>
      <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="error">Please enter valid password
        <ul>
          <li>at least 8 characters</li>
          <li>combination of upper-case and lower-case characters</li>
          <li>one or more digits </li>
        </ul>
      </div>
    </div>
    <div class="form-group">
      <input type="submit" [disabled]="email.invalid || pass.invalid" class="btn btn-primary" value="Login">
    </div>
  </form>
  <app-loading-bar *ngIf="this.loaderService.loaded"></app-loading-bar>
</div>
      