<nav>
    <div class="col-md-8 col-md-offset-1 col-sm-7 col-sm-offset-1 col-xs-8">
        <i class="fa fa-user-circle-o"></i>
        <span>{{ email | nameFromEmail }}</span>
    </div>
    <div data-toggle="modal" data-target="#addModal" class="margin-sides">
        <i class="fa fa-address-card-o" aria-hidden="true"></i>
        <span class="hideOnMobile">Add New User</span>
    </div>
    <div (click)="this.authService.logOut()" class="margin-sides">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
        <span class="hideOnMobile">Log Out</span>
    </div>
</nav>
    <router-outlet></router-outlet>
      