nav {
    display: flex;
    background-color: #3c8dbc;
    height: 40px;
    line-height: 40px;
    font-family: 'Bree Serif', serif;
    color: white;
}
nav div{
    cursor: pointer
}
i{
    cursor: pointer; 
}
nav div:first-child {
    cursor: default;
    font-size: 20px;
}

.margin-sides {
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (max-width: 630px) {  
     .hideOnMobile {
         display: none
     }
     nav div:first-child {
             width: 86%;
     }
 }
