i {
  cursor: pointer;
  margin-right: 10px;
}

.fa-trash {
  color: red
}

td:last-child {
  width: 80px;
  text-align: center;
}


a {
  cursor: pointer;
}

.sorted {
  text-decoration: underline;
  font-style: italic;
}

.hide {
  display: none
}

.show {
  display: inline-block !important
}

.active {
  background-color: #f5f5f5 !important;
  color: #337ab7;
}

.active:hover {
  color: #337ab7;
}

.badge {
  background-color: #337ab7;
  border: 1px solid white;
}

.list-body {
  margin-top:10px; 
  background-color: white;
}
.users-list {
  height: 91vh;
  background-color: #f5f5f5;
}

.loading-bar {
  height:5px; 
  width:100%; 
  background-color: #f5f5f5;
}

.avatar-img {
  border-radius: 50%;
  height: 50px;
}

tbody th, tbody td {
  line-height: 50px;
}

#pages {
  display:flex; 
  justify-content: center;
}

@media screen and (max-width: 370px) {
  
    .well {
        padding: 10px;
    }
}

@media screen and (max-width: 410px) {
  
    .avatarHide {
       display: none
    }

    tbody th, tbody td {
      line-height: 1.42857143;
    }
}