<div class = "loading-bar">
    <app-loading-bar *ngIf="loaderService.loaded"></app-loading-bar>
  </div>
  <div class="users-list">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 well list-body">
      <table class="table table-hover">
        <thead>
          <td class="sorted">
            <span>ID</span>
            <i class="fa fa-sort-desc" aria-hidden="true" (click)="sortBy('id', $event)"></i>
          </td>
          <td class="avatarHide">Avatar</td>
          <td>
            <span>First Name</span>
            <i class="fa fa-sort-desc" aria-hidden="true" (click)="sortBy('first_name', $event)"></i>
          </td>
          <td>
            <span>Last Name</span>
            <i class="fa fa-sort-desc" aria-hidden="true" (click)="sortBy('last_name', $event)"></i>
          </td>
          <td>
            <span>Edit/Remove</span>
          </td>
        </thead>
        <tbody>
          <tr *ngFor="let user of usersOnEachPage">
            <th>{{user.id}}</th>
            <td class="avatarHide"><img src="{{user.avatar}}" class="avatar-img" alt=""></td>
            <td>{{user.first_name | capitalizeFirstLetters}}</td>
            <td>{{user.last_name | capitalizeFirstLetters}}</td>
            <td>
              <i class="fa fa-pencil" aria-hidden="true" (click)="edit(user)"></i>
              <i class="fa fa-trash" aria-hidden="true" data-toggle="modal" data-target="#DelModal" (click)="setUser(user)"></i>
            </td>
          </tr>
        </tbody>
      </table>
      <div id="pages">
        <a *ngFor="let page of pages, let index = index" [class.active]="index == usersService.currentPage-1" class="pageIcon badge " (click)="pageChanger(page, $event)">{{page}}</a>        
      </div>
    </div>
  </div>
  <app-add-user (added)="updatePageData($event)"></app-add-user>
  <app-delete-comfirm (deleted) = "updatePageData($event)"></app-delete-comfirm>



  