<div id="addModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>        
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add New User</h4>
          </div>
          <div class="modal-body">
              <div>
                <label>First Name</label>
                <input type="text" class="form-control" [(ngModel)]="newUser.first_name" name="newUser.first_name" #addFirstname="ngModel" required/>
                <span *ngIf="addFirstname.invalid && (addFirstname.dirty || addFirstname.touched)" class="error">This field cannot be empty.</span>
              </div>
              <div>
                <label>Last Name</label>
                <input type="text" class="form-control" [(ngModel)]="newUser.last_name" name="newUser.last_name" #addLastName="ngModel" required/>
                <span *ngIf="addLastName.invalid && (addLastName.dirty || addLastName.touched)" class="error">This field cannot be empty.</span>
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="save()" [disabled]="addFirstname.invalid || addLastName.invalid">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="reset()">Cancel</button>
          </div>
        </form>        
      </div>
    </div>
  </div>
  <app-alert [alertedUser] = "addedUser" [alertText] = "alertText"></app-alert>
  